<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./views/item.html">Let's Go</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
            <ul class="nav navbar-nav">
                <li><a ng-href="#/">主页</a></li>
                <li><a ng-href="#/item">商品列表</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li style="margin-right: 50px;"><a ng-href="#/cart"><span class="glyphicon glyphicon-shopping-cart"></span>购物车(<span>{{cart_total}}</span>)</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->


    </div><!-- /.container-fluid -->
</nav>


<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading"><h4>购物清单</h4></div>
        <span id="pay_date"></span>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>分类</th>
                    <th>名称</th>
                    <th>单价(元)</th>
                    <th>单位</th>
                    <th>数量</th>
                    <th>小计</th>
                </tr>
                </thead>
                <tbody class="item-body">
                <tr ng-repeat="item in bought_goods track by $index">
                    <td>{{item.type}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.unit}}</td>
                    <td>{{item.count}}</td>
                    <td>{{single_price(bought_goods,item.name)}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-heading"><h4>赠送商品</h4></div>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>分类</th>
                    <th>名称</th>
                    <th>数量</th>
                </tr>
                </thead>
                <tbody class="gift-body">
                <tr ng-repeat="item in gifts track by $index">
                    <td>{{item.type}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.savecount}}</td>
                </tr>
                </tbody>

            </table>
        </div>

        <div class="side-space text-right">
            <p>总计：{{all_price}}元</p>
            <p>节约：{{save_price}}元</p>
            <button class="btn btn-primary vertical-space" ng-click="confirm()">确认</button>
        </div>
    </div>
</div>